.box {
    border-radius: 20px;
    background-color: #111;
    width: 250px;
    margin: auto;
    margin-top: 10px;
}
.display {
    background-color: #222;
    width: 205px;
    position: relative;
    left: 15px;
    top: 20px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.display input {
    border-radius: 20px;
    position: relative;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    background-color: #eee;
    font-size: 21px;
    text-align: right;
    width:205px;
}
.keys {
    border-radius: 20px;
    position: relative;
    top: 30px;
    
}

.button {
    border-radius: 20px;
    color: black;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-left: 17px;
    cursor: pointer;
    border-top: 2px solid transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.button:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
    .button.gray {
        border-radius: 20px;
        background-color: #6f6f6f;
        border-bottom: black 2px solid;
        border-top: 2px #6f6f6f solid;
    }

    .button.pink {
        border-radius: 20px;
        background-color: #ff4561;
        border-bottom: black 2px solid;
    }

    .button.black {
        border-radius: 20px;
        background-color: 303030;
        border-bottom: black 2px solid;
        border-top: 2px 303030 solid;
    }

    .button.orange {
        border-radius: 20px;
        background-color: FF9933;
        border-bottom: black 2px solid;
        border-top: 2px FF9933 solid;
    }

.gray:active {
    border-top: black 2px solid;
    border-bottom: 2px #6f6f6f solid;
}

.pink:active {
    border-top: black 2px solid;
    border-bottom: #ff4561 2px solid;
}

.black:active {
    border-top: black 2px solid;
    border-bottom: #303030 2px solid;
}

.orange:active {
    border-top: black 2px solid;
    border-bottom: FF9933 2px solid;
}

.keys p {
    border-radius: 20px;
    line-height: 10px;
}