#canvas
{
    cursor: pointer;
    background-color:white;
    margin:auto;
    display: block;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#black 
{
    background: black;
}
#pink 
{
    background: pink;
    color: red;
}
#red
{
    background: red;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
    color: red;
}
#orange 
{
    background: orange;
    color: red;
}
#white 
{
    background: white;
    color: black;
}
#yellow 
{
    background: yellow;
    color: black;
}
#brown 
{
    background: brown;
    color: black;
}
#clear
{
   color: white;
}
.radio{
  color:brown;
  font-size:15px;
  position:relative;
  cursor: pointer; 
}
.radio input[type="radio"]{
  position:absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
#color
{
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-top: 0;
}
#clear {
    width:100%;
}
.colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.size {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#maxl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    text-align: center;
}
p, h4, label {
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}