#canvas
{
    cursor: pointer;
    background-color:white;
    margin-left:12%;
    margin-top: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#black 
{
    background: black;
}
#pink 
{
    background: pink;
    color: red;
}
#red
{
    background: red;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
    color: red;
}
#orange 
{
    background: orange;
    color: red;
}
#white 
{
    background: white;
    color: black;
}
#yellow 
{
    background: yellow;
    color: black;
}
#brown 
{
    background: brown;
    color: black;
}
#clear
{
   color: white;
}
.radio{
  color:rgb(107, 176, 221);
  font-size:15px;
  cursor: pointer; 
}
.radio input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #aaa;
    background: #aaa;
    border-radius: 50%;
}
.radio input[type="radio"]:checked {
    background-color: rgb(107, 176, 221);
}
#color
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-top: 0;
}
#clear {
    width:100%;
}
.colors {
    display: grid;
    grid-template-columns: 4.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px;
}
.size {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom:10px;
}
#maxl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
p, h4, label {
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#margin{
    margin-top:-20px;
}