.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    background-color: #111!important;
    border: 0 !important;
}

#container{
    margin: 0;
    width: 1060px;
    min-height: 100%;
    background-color: transparent;
    border: 0;
    display: grid;
    grid-template-columns: 19.5vw 19.5vw 19.5vw 19.5vw;
}

.task-list{
    margin:0 5px;
    background-color: #444;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 30px;
    height: 100%;
}

.task-list input, .task-list textarea{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 17.5vw;
    margin: 1px 5px;
    border-radius: 20px;
    background-color: #777;
    border:1px solid #777;
}

.task-list input{
    height: 40px;
}

.task-list textarea {
    height:200px;
}

.todo-task{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    background-color: #777;
    width: 16.5vw;
    margin: 5px auto;
    color: #3fe415;
}

.task-list input[type="button"]{
    width: 120px;
    margin: 5px;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

h3{
    text-align: center;
}

#delete-div{
    display: none;
    background-color: #444;
    border: 3px dotted #fff;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: white;
}
.button {
    color: white;
    background: #3fe415 !important;
    font-size: 10px;
    padding:8px 8px;
    border-width: 0;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.button:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}