html, body {
  box-sizing: border-box;
  font-size: 10px;
  margin:0;
  background:#111;
  color:white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wikipedia-logo {
  display: block;
  margin: 0 auto 20px;
  width: 250px;
  height: 250px;
  background: url("../images/wikipedia.png") top center no-repeat;
  background-size: cover;
}

.searchForm-inputContainer {
  border-radius: 30px;
  border: 1px solid #777;
  padding: 0 10px;
  background-color: #777;
  display: flex;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: #3fe415;
}

.searchForm-input {
  width: 30vw;
  border: none;
  border-radius: 3px;
  padding: 14px 20px;
  font-size: 1.6rem;
  outline: none;
  border-radius: 30px;
  background: #777;
  color: #3fe415;
}

.searchForm-input:focus {
  outline: none;
}

.searchForm-searchIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #777;
}

.searchForm-inlineSubmit {
  display: none;
  background: #777;
  border:0;
}

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
  background-color: #444;
  padding: 5px 0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.top-container .wikipedia-logo {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

.top-container .searchForm {
  display: flex;
  align-items: center;
}

.top-container .searchForm-input {
  padding: 10px;
}

.top-container .searchForm-inlineSubmit {
display: inline;
}

#grid {
  display:grid;
  grid-template-columns: 50% 50%;
}

.resultsContainer {
  width: 100%;
  max-width: 630px;
  padding-top: 100px;
}

.resultItem {
  min-width: 1fr;
  background:#666;
  margin-bottom: 30px;
  font-size: 1.3rem;
  line-height: 20px;
  padding: 10px 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius:60px;
  padding-left:25px;
}

.resultItem-title {
  margin-top: 0;
  margin-bottom: 0;
}

.resultItem-title a {
  color: #3fe415;
  text-decoration: none;
  font-size:25px;
}

.resultItem-link {
  visibility: hidden;
}

.resultItem-snippet {
  color: rgb(107, 176, 221);
  line-height: 18px;
  font-size:20px;
}

.errorMessage {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.errorMessage .keyword {
  font-weight: 700;
}

.moreResults {
  margin-bottom: 50px;
  width: 100%;
  max-width: 630px;
  padding-left: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.moreResults p {
  font-size: 1.8rem;
}

.moreResults-button {
  width: 100%;
  border: 1px solid #3fe415;
  background-color: #3fe415;
  color: white;
  font-weight: 600;
  padding: 15px 0;
  font-size: 1.6rem;
  border-radius: 30px;
}

.moreResults-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hidden {
  display: none;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.666;
  background-color: #fff;
  z-index: 2;
}
iframe {
  height: 100%;
  position: fixed;
}