body{
    padding:0;
    margin:0;
    background: #111;
    font: caption;
    min-width: 910px;
    overflow-x:hidden;
    overflow-y:hidden;
}
.nav{
    height: 50px;
    background: #222;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    min-width: 910px;
}
.float {
    display: grid;
    grid-template-columns: 1fr 5fr;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.float-left-area  {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background:#333;
    height:155vh;
    min-width: 210px;
}

.float-right-area {
    color: #eee;
    min-width: 700px;
}

.inner-left {
    margin-left: 3%;
    position: fixed;
    min-width: 210px;
}
.inner-right {
    min-width: 700px;
}
.a {
    font-size: 13.5px;
    margin:0;
    text-decoration: none;
    color:#3fe415;
    border-radius: 10px;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
}
.a:hover {
    color:green;
}
.b {
    font-size: 22.5px;
    text-decoration: none;
    color:rgb(107, 176, 221); 
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
button {
    color: white;
    background: #3fe415;
    font-size: 20px;
    padding:8px 8px;
    border-width: 0;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
button:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.fix {
    position: fixed;
    height: 50px;
    background: #222;
    color:#3fe415;
    display: flex;
    width:100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-width: 910px;
}
.fix :nth-child(2) {
    margin-left: auto;
}
.select {
    background: #555;
    width:80%;
}
.selecting:hover {
    background: #555;
    border-radius: 20px;
    width:80%;
}
iframe {
    position: fixed;
}
.button {
    color: white;
    background: #3fe415;
    font-size: 20px;
    padding:8px 8px;
    border-width: 0;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.button:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}