body{
    padding:0;
    margin:0;
    background: #111;
    font: caption;
}
.nav{
    height: 60px;
    background: #222;
}
.float {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.float-left-area  {
    background:#333;
    height:105vh;
}

.float-right-area {
    color: #eee;
}

.inner-left	  {
    margin-left: 3%;
    position: fixed;
}
.a {
    text-decoration: none;
    color:#3fe415;
    border-radius: 10px;
}
.b {
    text-decoration: none;
    color:rgb(107, 176, 221); 
}
button {
    color: white;
    background: rgb(14, 105, 224);
    font-size: 20px;
    padding:10px 10px;
    border-width: 0;
    border-radius: 20px;
}
.fix {
    position: fixed;
    height: 60px;
    background: #222;
    color:#3fe415;
    display: flex;
    width:100%;
}
.fix :nth-child(2) {
    margin-left: auto;
}